<div class="row">
  <aside class="col-md-12">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>




      <h3>My events (<%= @events.count %>)</h3>
      <%= render @events %>



      <h3>Upcoming events (<%= @user.upcoming_events.count %>)</h3>
      <%= render @user.upcoming_events %>






      <h3>Previously attended events (<%= @user.previous_events.count %>)</h3>
      <%= render @user.previous_events %>






      <% if @user.received_invitations.not_accepted.any? %>
        <h3>You are invited:</h3>
        <div class="events">
          <% @user.received_invitations.not_accepted.each do |invitation| %>
            <div class="event">
              <%= invitation.event.name %>, <%= invitation.event.dateofevent %>
              ( <%= link_to 'Accept', invitation, method: :put %> ) -
              ( <%= link_to 'Decline', invitation, method: :delete %> )
            </div>
          <% end %>
        </div>
      <% end %>

    </section>
  </aside>
</div>
