<div class="row">
<aside class="col-md-12">
<section class="user_info">

<h3>Upcoming Events (<%= @upcoming_events.count %>)<span><%= link_to "Create new", new_event_path %></span></h3>
<%= render @upcoming_events %>









<h3>Previous Events (<%= @previous_events.count %>)</h3>
<%= render @previous_events %>







  </section>
  </aside>
</div>
