<div class="row">
  <aside class="col-md-12">
    <section class="">
      <h1><%= @event.name %></h1>
      <p><b>Date: </b><%= @event.dateofevent %></p>
      <p><b>Description: </b><%= @event.description %></p>
      <p><b>Location: </b><%= @event.location %></p>

      <h2>Event creator: <%= @event.creator.name %></h2>

    </section>
  </aside>
</div>
